/* barra de navegacion */

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background: linear-gradient(to right, #cb65f3,#d3b2dd,#b06bdd,#984cd6, #9027f1, #8e1deb, #641ed4, #750abd); /* color del background rgb */
    padding: 10px 30px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #a407ff;
    gap: 20px;
}

#logo {
    width: 200px;
    height: auto;
    display: block;
    margin-right: 50px;

}

.brand {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 150px;
}

.nav-links {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    list-style: none;
    gap: 3px;
    margin: 0;
    padding: 0 35px;
}

.nav-links li {
    border-right: 2px solid rgb(197, 96, 236);
    border-left: 2px solid rgb(197, 96, 236);
    padding-right: 1px;
    margin-right: 1px;
    height: 20px;
    padding: 20px;
    border-radius: 2px;
}



.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.nav-links a:hover {
    color: linear-gradient(to right, #53e9e1 #864ee0, #42daf5);
    border-radius: 2px;
}
.nav-links li:hover {
    color: #e5e7eb;
    background-color: #cb8ae9;
    border-radius: 4px;
}
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
