/* barra de navegacion */

.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #b8daf1,#9a54f7,#641ed4,#641ed4, #641ed4, #641ed4, #641ed4, #750abd); /* color del background rgb */
    padding: 10px 30px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    width: 180px;
    height: auto;
    display: block;
    margin-right: 50px;
}

.brand {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0 35px;
}

.nav-links li {
    border-right: 1.9px solid rgb(72, 19, 170);
    border-left: 1.9px solid rgb(72, 19, 170);
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links a:hover {
    color: #53e9e1; /* Corregido degradado inválido a color aqua sólido */
}

.nav-links li:hover {
    background-color: #6c1cec;
}
@media (max-width:768px){

    .navbar{
        flex-direction: column;
        text-align: center;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .brand{
        margin-right: 0;
        margin-bottom: 15px;
    }

    #logo{
        margin-right: 0;
        margin-bottom: 15px;
    }
}
