#contacto {
    padding: 40px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formulario input,
#formulario textarea {
    padding: 10px;
}

#formulario button {
    padding: 12px;
    cursor: pointer;
}
